* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    color: #000;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

p, 
h1, 
h2, 
h3 {
  margin: 0;
}

.btn {
    width: 280px;
    height: 78px;
    padding: 0;
    border: 0;
    border-radius: 16px;
    background: #F90;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
}


/* Header */
.header {
    max-width: 1920px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 50px;
    background: #FFF;
    border-radius: 0px 0px 32px 32px;
    box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.10);
}

.header__container {
    display: flex;
    align-items: center;
    height: 100%;
}

.header__logo-link {
    margin-right: auto;
}

.header__nav-list {
    display: flex;
}

.header__nav-item:not(:last-child) {
    margin-right: 85px;
}

.header__nav-link {
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    color: #000;
}

.header__search {
    margin-left: 260px;
}

.header__search-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(../img/svg/search.svg);
}

/* Hero */
.hero__container {
    height: 620px;
    margin-bottom: 50px;
}

.hero__swiper {
    position: relative;
}

.hero__content {
    position: absolute;
    z-index: 2;
    max-width: 837px;
    margin: 100px 0 0 80px;
}

.hero__heading {
    margin-bottom: 20px;
    font-size: 70px;
    font-weight: 800;
    line-height: normal;   
    color: #FFF;
}

.hero__text {
    margin-bottom: 90px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.27;   
    color: #FFF;
}

.hero__btn {
    text-align: center;
    font-size: 23px;
    font-weight: 700;
    line-height: normal;
    color: #FFF;
    transition: .3s ease;
}

.hero__btn:hover,
.hero__btn:focus {
    background: #FFB84D;
}

.hero__btn:active {
    background: #E1670E;
}


.swiper {
    max-width: 1770px;
    height: 620px;
    border-radius: 32px;
}

.swiper-pagination-bullets {
    --swiper-pagination-bottom: 26px;
}

.hero__swiper .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    --swiper-pagination-bullet-horizontal-gap: 10px;
}

.swiper-pagination-bullet-active {
    --swiper-pagination-color: #fff;
}

/* About */

.about-container {
    min-height: 943px;
    margin-bottom: 100px;
}

.about__title {
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: 400;
    line-height: normal;
    color: #000;
}

.about__text {
    max-width: 1235px;
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: #000;
}

.about__content {
    display: flex;
    justify-content: space-between;
}

.about__banner {
    width: 868px;
    height: 622px;
    border-radius: 32px;
    padding-top: 426px;
    background: url('../img/about/about-1.png') no-repeat center center / cover;
}

.about__desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    max-width: 868px;
    height: 196px;
    border-radius: 32px;
    background: rgba(0, 0, 0, 0.50);
}

.about__desc-text {
    max-width: 443px;
    height: 96px;
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
    color: #FFF;
}

.about__btn{
    width: 175px;
    height: 60px;
    padding: 19px 38px;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    background: rgba(0, 0, 0, 0);
    border-radius: 16px;
    border: 3px solid #F90;
}

.about__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 870px;
    min-height: 622px;
}

.about__item {
    display: flex;
    align-items: center;
    padding: 0 120px 0 60px;
    max-width: 870px;
    height: 295px; 
    border-radius: 32px;
    border: 1px solid #CACACA;
}

.about__item-content {
    max-width: 452px;
    min-height: 165px;
    margin-left: 50px;

}

.about__item-title {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
}

.about__item-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}

/* How */
.how-container {
    margin-bottom: 100px;
    min-height: 623px;
}

.how__title{
    margin-bottom: 50px;
    font-size: 48px;
    font-weight: 400;
    line-height: normal;
}

.tabs {
    display: flex;
    margin-bottom: 45px;
}

.tabs__item:not(:last-child) {
    margin-right: 85px;
}


.tabs__btn {
    padding: 0;
    border: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    background-color: #fff;
    transition: .2s ease;
}

.tabs__btn:hover {
    color: #F90;
}

.tabs__btn:focus {
    outline:  2px solid  #E1670E;
}

.tabs__btn:active {
    color: #E1670E;
}

.tab__content-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.tab__content-left {
    max-width: 758px;
}

.none {
   display: none; 
}

.tab__content-title {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.tab__content-description {
    margin-bottom: 18px;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}

.tab__content-btn {
    display: flex;
    gap: 32px;
}

.how__btn {
    display: block;
    width: 175px;
    height: 60px;
    padding: 19px 38px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    color: #FFF;
    transition: .2s ease;
}

.how__btn:hover,
.how__btn:focus {
    background: #FFB84D;
}

.how__btn:active {
    background: #E1670E;
}


.how__btn-contract {
    display: block;
    width: 147px;
    height: 60px;
    padding: 19px 38px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid #000;
    color: #000;
    background-color: rgba(0, 0, 0, 0);
    transition: .2s ease;
}

.how__btn-contract:hover,
.how__btn-contract:focus {
    border: 1px solid #666;
    color: #fff;
    background: #666;
}

.how__btn-contract:active {
    border: 1px solid #000000;
    background: #000000;
}

.tab-content__img-one,
.tab-content__img-two,
.tab-content__img-three,
.tab-content__img-four {
  width: 49.2%;
  height: 460px;
}

.tab-content__img-one {
    background: transparent url('../img/how/how_one.png') no-repeat center center / cover ;
}

.tab-content__img-two {
    background: transparent url('../img/how/how_two.png') no-repeat center center / cover ;
}

.tab-content__img-three {
    background: transparent url('../img/how/how_three.png') no-repeat center center / cover ;
}

.tab-content__img-four {
    background: transparent url('../img/how/how_four.png') no-repeat center center / cover ;
}
